@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  background: #fafafa;
  margin: 0 auto;
  scroll-behavior: smooth;
}

#main-container {
  width: 90%;
  margin: 0 auto;
}

/* Header */

#head {
  overflow: hidden;
  margin: 6rem auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
}

#about {
  max-width: 439px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

#about h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  text-transform: uppercase;
}

#about > p {
  padding-top: 0.5rem;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

/* Main Content */
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

#container div:nth-child(2),
div:nth-child(5) {
  transform: translateY(5rem);
  margin-top: 0.75rem;
}

#container > .main-card {
  display: flex;
}

#container .initials > img {
  width: 100%;
}

.name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.role {
  writing-mode: vertical-rl;

  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  padding-left: 0.4rem;

  text-transform: uppercase;
}

/* Footer */
footer {
  margin: 15rem 0rem 1rem 0rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #a9a9a9;
}

a {
  text-decoration: none;
  color: #a9a9a9;
  font-weight: bold;
}

a:hover {
  color: #f7542e;
}

/* Responsiveness */
@media only screen and (max-width: 576px) {
  #head {
    flex-direction: column;
  }

  #head h1 {
    padding-bottom: 3rem;
    font-size: 2.2rem;
  }

  #head #about {
    width: 333px;
  }

  #about p {
    font-size: 14px;
    line-height: 21px;
  }

  #container {
    grid-template-columns: repeat(2, 1fr);
  }

  #container div:nth-child(even) {
    transform: translateY(6rem);
  }

  #container div:nth-child(5) {
    transform: none;
  }
}
